# See https://github.com/silverstripe-labs/silverstripe-travis-support for setup details

language: php

sudo: false

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1

env:
  - DB=MYSQL CORE_RELEASE=4

matrix:
  include:
    - php: 5.6
      env: DB=MYSQL CORE_RELEASE=4
    - php: 5.6
      env: DB=MYSQL CORE_RELEASE=4 SUBSITES=1
    - php: 5.6
      env: DB=MYSQL CORE_RELEASE=4 QUEUEDJOBS=1
    - php: 7.0
      env: DB=MYSQL CORE_RELEASE=4
    - php: 7.0
      env: DB=MYSQL CORE_RELEASE=4 SUBSITES=1
    - php: 7.0
      env: DB=MYSQL CORE_RELEASE=4 QUEUEDJOBS=1
    - php: 7.1
      env: DB=MYSQL CORE_RELEASE=4
    - php: 7.1
      env: DB=MYSQL CORE_RELEASE=4 SUBSITES=1
    - php: 7.1
      env: DB=MYSQL CORE_RELEASE=4 QUEUEDJOBS=1

before_script:
  - composer self-update || true
  - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
  - "if [ \"$SUBSITES\" = \"\" -a \"$QUEUEDJOBS\" = \"\" ]; then php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss; fi"
  - "if [ \"$SUBSITES\" = \"1\" ]; then php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss --require silverstripe/subsites; fi"
  - "if [ \"$QUEUEDJOBS\" = \"1\" ]; then php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss --require silverstripe/queuedjobs; fi"
  - cd ~/builds/ss

script:
  - vendor/bin/phpunit fulltextsearch/tests/
